@import "./mixins";

* {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap:row wrap;
  justify-content: center;
}

.box {
  background-color: #f5f5f5;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 15px gray;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 30px;

  p {
    max-width: 60%;
    color: rgb(0, 0, 0);
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  img {
    width: 50%;
    height: auto;
    object-fit: cover;
  }

  button {
    all: unset;
    width: 10%;
    padding: 10px;
    box-sizing: border-box;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 10px;
  }
}

@include media(mobile);
@include media(tablet);
@include media(desktop);
